body {
  background-color: rgb(160, 178, 194);
  margin: 0 auto;
}

#navbar {
  background-color: rgb(56, 25, 84);
  height: 80px;
  margin-bottom: 15px;
}

#main-container {
  background-color: rgb(212, 234, 18);
  height: 300px;
  margin-bottom: 15px;
}

.boxes {
  background-color: rgb(8, 95, 237);
  height: 250px;
  border: 2px solid blueviolet;
  width: 32.3%;
  float: left;
}

#first {
  margin-right: 15px;
  color: red;
}

#second {
  margin-right: 15px;
  color: white;
}

#third {
  color: rgb(236, 8, 8);
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  height: 70px;
}

.left h2 {
  display: inline;
  color: aliceblue;
  margin-left: 30px;
  margin-top: 300px;
  margin-bottom: 500px;
}

.right a {
  color: aliceblue;
}
