body {
  background-color: rgb(51, 33, 33);
  margin: auto;
}
#nbar {
  background-color: rgb(84, 53, 97);
  width: calc(100vw);
  justify-content: space-between;
  padding: 1vh 1.2vw;
  display: flex;
  padding: 1vh 0;
}
.left {
  display: flex;
  height: 7vh;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 40px;
  margin: 1vh;
}
.left h2 {
  color: rgb(255, 255, 255);
}
.right a {
  color: rgb(209, 217, 232);
  text-decoration: none;
  padding-right: 20px;
}
#main-co {
  background-color: rgb(209, 217, 232);
  padding: 1em 1em;
}
.boxes1,
.boxes2,
.boxes3 {
  background-color: rgb(209, 217, 232);
  margin: 0 0.6em;
  padding: 1em;
}
#bottam_div {
  display: flex;
  padding: 0.855em 0;
}
#main_body {
  padding: 2vh 0.5vw;
}
@media screen and (max-width: 900px) and (min-width: 651px) {
  .boxes1,
  .boxes2 {
    width: calc((100vw - 7vh) / 2);
    margin: 10px 0 10px;
  }
  .boxes1 {
    float: right;
  }
  #bottam_div {
    display: contents;
  }
  .boxes3 {
    margin: 0px;
  }
}
@media screen and (max-width: 650px) {
  #bottam_div {
    display: contents;
  }
  .boxes1,
  .boxes2,
  .boxes3 {
    margin: 3px 0;
  }
}
