body {
  background-color: rgb(155, 39, 39);
  margin: auto;
}

#navbar {
  background-color: rgba(40, 2, 40, 0.825);
  height: 75px;
  margin-bottom: 9px;
}

.right {
  float: right;
  display: inline;
  margin-top: 20px;
}

.left {
  height: 50px;
  float: left;
  margin-top: 20px;
}

.left img {
  height: 50px;
  float: left;
}

.left h1 {
  float: left;
  color: rgb(230, 220, 220);
}

.right a {
  color: rgb(238, 236, 236);
}

#mainco {
  background-color: rgb(241, 244, 247);
  height: 289px;
  margin: 27px;
}

.first {
  background-color: rgba(38, 17, 201, 0.679);
  height: 200px;
  width: 500px;
  float: left;
  margin-top: 40px;
  margin-left: 30px;
  padding: 9px;
}

.second {
  background-color: rgba(20, 30, 165, 0.679);
  height: 200px;
  height: 200px;
  width: 500px;
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  padding: 9px;
}

#third {
  background-color: rgba(55, 5, 26, 0.679);
  height: 360px;
  margin: 27px;
  padding-top: 1px;
}

.last {
  border: 20px solid rgba(15, 217, 31, 0.679);
  background-color: rgb(250, 251, 249);
  height: 280px;
  margin: 20px;
}

.last p {
  color: crimson;
  text-align: center;
  padding: top 30px;
  padding-bottom: 50px;
}

h3 {
  color: rgb(205, 22, 22);
}

h2 {
  color: aliceblue;
  display: inline;
  padding-left: 10px;
  padding-top: 50px;
}
